:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--font-color);
  --font-color: rgb(37, 37, 37);
  --whitegrey-color: rgb(240, 240, 240);
  --lightgrey-color: rgb(231, 231, 231);
  --grey-color: rgb(75, 75, 75);
  --red-color: red;
  --lightblue-color: #3fd5f0;
  --white-color: rgb(250, 250, 250);
  --basic-shadow: 0 4px 8px #0003;
  --lightgrey-border: 2px solid var(--lightgrey-color);
  --submit-btn-border: 2px solid var(--lightblue-color);
  --cancel-btn-border: 2px solid var(--red-color);
}

* {
  letter-spacing: 0.015em;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--lightblue-color);
}
button {
  border: none;
  cursor: pointer;
  color: var(--font-color);
  background-color: inherit;
}
