.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white-color);
}

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: var(--lightgrey-border);
}

.sidebar-section-button {
  background-color: var(--white-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.1em 2.2em;
  font-size: 1.1em;
  font-weight: 700;
  transition: background-color 0.2s ease-in;
}

.sidebar-section-button:hover {
  background-color: var(--lightgrey-color);
}

.active-button {
  background-color: var(--lightgrey-color);
}

.sidebar-section-button > img {
  transition: transform 0.3s;
  width: 20px;
}

.rotate-icon {
  transform: rotate(180deg);
}
.reverse-rotate-icon {
  transform: rotate(0);
}
