.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white-color);
}

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: var(--lightgrey-border);
}

.sidebar-section-button {
  background-color: var(--white-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.1em 2.2em;
  font-size: 1.1em;
  font-weight: 700;
  transition: background-color 0.2s ease-in;
}

.sidebar-section-button:hover,
.sidebar-section-button:focus {
  background-color: var(--whitegrey-color);
  outline: none;
}

.active-button {
  background-color: var(--whitegrey-color);
}

.sidebar-section-button > img {
  transition: transform 0.3s;
  width: 20px;
}

.rotate-icon {
  transform: rotate(180deg);
}
.reverse-rotate-icon {
  transform: rotate(0);
}

.entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.85em;
  border: 1px solid var(--grey-color);
  padding: 0.8em 1em;
  margin-bottom: 1.1em;
}

.action-buttons {
  display: flex;
  align-items: center;
  gap: 6px;
}

.action-buttons img {
  width: 18px;
}
